{{#methods}}
{{user_data.bpCallbackDelegateMacroName}}({{user_data.bpCallbackDelegateTypeName}}{{#user_data.bpIsNoParamCallback}}{{/user_data.bpIsNoParamCallback}}{{^user_data.bpIsNoParamCallback}}, {{/user_data.bpIsNoParamCallback}}{{#parameters}}{{{user_data.bpParameterType}}}, {{name}}{{^user_data.isLast}}, {{/user_data.isLast}}{{/parameters}});
{{/methods}}



// this is a blueprint callback executor which you could add to the target handler
UCLASS(Blueprintable,Meta = (ShowWorldContextPin))
class AGORAPLUGIN_API UAgoraBPu{{name}}CBExecutor : public UObject {
	GENERATED_BODY()

public:

    {{#methods}}
{{{user_data.commentCppStyle}}}
    UFUNCTION(BlueprintNativeEvent, Category = "Agora|Event")
    {{user_data.bpReturnType}} {{user_data.bpMethodName}}({{#parameters}}{{{user_data.bpParameterType}}} {{name}}{{^user_data.isLast}}, {{/user_data.isLast}}{{/parameters}});
    
    {{/methods}}
};


// For UE 4.25 UHT Parsing
class {{name}}ClassWrapper : public {{{user_data.fullTypeWithNamespace}}}{};

{{{user_data.commentCppStyle}}}
UCLASS()
class AGORAPLUGIN_API {{user_data.bpNodeName}} : public UObject, public {{name}}ClassWrapper {
  GENERATED_BODY()
public:
    
public:
  {{#methods}}
{{{user_data.commentCppStyle}}}
	UPROPERTY(BlueprintAssignable, Category = "Agora|Event")
  {{user_data.bpCallbackDelegateTypeName}} {{user_data.bpCallbackDelegateVarName}};
  {{/methods}}

  {{#methods}}
  {{^user_data.isExcluded}}
  {{#user_data.hasConditionalDirective}}

  {{{conditional_compilation_directives_infos}}}
  {{/user_data.hasConditionalDirective}}
          virtual {{#return_type}}{{{source}}}{{/return_type}} {{name}} ({{#parameters}}{{{type.source}}} {{name}}{{^user_data.isLast}}, {{/user_data.isLast}}{{/parameters}}) override;
  {{#user_data.hasConditionalDirective}}
  #endif

  {{/user_data.hasConditionalDirective}}
  {{/user_data.isExcluded}}
  {{/methods}}

  // You could add multiple executors to the target handler
	UFUNCTION(BlueprintCallable, Category = "Agora|Event")
	void AddBlueprintCallbackExecutor(UAgoraBPu{{name}}CBExecutor* Executor);

	UFUNCTION(BlueprintCallable, Category = "Agora|Event")
	void RemoveAllBlueprintCallbackExecutors();

private:
	EAgoraBPuEventHandlerType Type = EAgoraBPuEventHandlerType::EventHandler;
};