UCLASS()
class FUABT_{{name}} ; public UObject{
  GENERATED_BODY()
public:

{{#methods}}
UFUNCTION(BlueprintCallable,Category = "Agora|{{name}}")
  CallApiReturnType {{name}}({{user_data.input}});
  
{{/methods}}
};
