
{{{user_data.commentCppStyle}}}
UCLASS()
class AGORAPLUGIN_API {{user_data.bpNodeName}} : public UObject {
  GENERATED_BODY()
public:
{{{user_data.bpContextInitDecl}}}

{{#methods}}
{{{user_data.commentCppStyle}}}
  UFUNCTION(BlueprintCallable,Category = "Agora|{{parent_name}}")
  {{{user_data.bpReturnType}}} {{user_data.bpNodeName}}({{#parameters}}{{{user_data.bpParameterType}}} {{name}}{{^user_data.isLast}}, {{/user_data.isLast}}{{/parameters}});
  
{{/methods}}

private:
{{{user_data.bpContextInst}}}

};
