
{{{user_data.commentCppStyle}}}
USTRUCT(BlueprintType)

struct FUABT_{{name}}{

	GENERATED_BODY()
public:

{{#member_variables}}
{{{user_data.commentCppStyle}}}
	UPROPERTY(VisibleAnywhere, BlueprintReadWrite, Category = "Agora|{{parent_name}}")
  	{{{type.user_data.bpType.name}}} {{name}} {{{user_data.bpFormatDefaultVal}}};
{{/member_variables}}

	FUABT_{{name}}(){}
	FUABT_{{name}}(const {{user_data.fullTypeWithNamespace}} & AgoraData){

{{{user_data.contextConstructor}}}

	}

	{{user_data.fullTypeWithNamespace}} CreateRawData() const {

{{{user_data.contextCreateRawData}}}

	}

	void FreeRawData({{user_data.fullTypeWithNamespace}} & AgoraData) const
	{

{{{user_data.contextFreeRawData}}}

	}
}
