

{{#methods}}
  {{{user_data.bpReturnType}}} {{parent.user_data.bpNodeName}}::{{user_data.bpMethodName}}({{#parameters}}{{{user_data.bpParameterType}}} {{name}}{{^user_data.isLast}}, {{/user_data.isLast}}{{/parameters}})
  {

{{#user_data.isCallback}}
      #if (__cplusplus >= 202002L) || (defined(_MSVC_LANG) && _MSVC_LANG >= 202002L)
	        AsyncTask(ENamedThreads::GameThread, [=, this]()
      #else
	        AsyncTask(ENamedThreads::GameThread, [=]()
      #endif
          {

          });
{{/user_data.isCallback}}

  }
  
{{/methods}}