{{#methods}}
  {{{user_data.bpReturnType}}} {{parent.user_data.bpNodeName}}::{{user_data.bpNodeName}}({{#parameters}}{{{user_data.bpParameterType}}} {{name}}{{^user_data.isLast}}, {{/user_data.isLast}}{{/parameters}})
  {

{{{user_data.macro_scope_start}}}

      // Convert UEBP to CppType
{{{user_data.bpContextParamsDecl_CppFromBP}}}
      // Call Native Method
      
      auto ret = {{{user_data.bpNativePtr}}}->{{name}}({{{user_data.bpContextParamsUsage_CppFromBP}}});

{{{user_data.bpContextParamsFree_CppFromBP}}}

      {{#user_data.hasReturnVal}}
{{{user_data.bpContextReturnVal}}}
      {{/user_data.hasReturnVal}}

{{{user_data.macro_scope_end}}}
  }
  
{{/methods}}


{{{user_data.bpContextInitImpl}}}