// Copyright(c) 2024 Agora.io. All rights reserved.

// [Notice] We use if-else rather than switch-case because of some enum entries with the same value

{{#nodes}}
{{#user_data.isEnumz}}

{{{user_data.commentCppStyle}}}
{{#name}}
UENUM(BlueprintType)
enum class EUABT_{{name}} : uint8 {
{{#enum_constants}}
{{{user_data.commentCppStyle}}}
    {{#user_data.isFirst}}
        {{#user_data.isLast}}
            {{name}} = 0
        {{/user_data.isLast}}
        {{^user_data.isLast}}
            {{name}} = 0,
        {{/user_data.isLast}}
    {{/user_data.isFirst}}
    {{^user_data.isFirst}}
        {{#user_data.isLast}}
            {{name}}
        {{/user_data.isLast}}
        {{^user_data.isLast}}
            {{name}},
        {{/user_data.isLast}}
    {{/user_data.isFirst}}
{{/enum_constants}}
};
{{/name}}

namespace agora{
    namespace rtc{
        namespace ue{
            namespace UABTEnum{
                inline {{user_data.fullTypeWithNamespace}} ToRawValue(EUABT_{{name}} Val){
                    {{user_data.fullTypeWithNamespace}} Result;
    {{#enum_constants}}
    {{#user_data.isFirst}}
        if ( Val ==   EUABT_{{{parent_name}}}::{{{name}}} ){ Result =  {{user_data.fullTypeWithNamespace}}::{{{name}}}; }
    {{/user_data.isFirst}}
    {{^user_data.isFirst}}
        else if ( Val ==  EUABT_{{{parent_name}}}::{{{name}}} ){ Result =  {{user_data.fullTypeWithNamespace}}::{{{name}}};}
    {{/user_data.isFirst}}
    {{/enum_constants}}
                    return Result;
                }
                inline EUABT_{{name}} WrapWithUE({{user_data.fullTypeWithNamespace}} Val){
                    EUABT_{{name}} Result;
    {{#enum_constants}}
    {{#user_data.isFirst}}
        if ( Val == {{user_data.fullTypeWithNamespace}}::{{{name}}} ){ Result = EUABT_{{{parent_name}}}::{{{name}}}; }
    {{/user_data.isFirst}}
    {{^user_data.isFirst}}
        else if ( Val == {{user_data.fullTypeWithNamespace}}::{{{name}}} ){ Result = EUABT_{{{parent_name}}}::{{{name}}};}
    {{/user_data.isFirst}}
    {{/enum_constants}}
                    return Result;
                }
            }
        }
    }
}
{{/user_data.isEnumz}}
{{/nodes}}